.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #f4f4f4;

}

.header {
  height: 20%;
}

.App-header {
  /* background-color: #282c34; */
  height: 100%;
  width: 70%;
  font-size: calc(10px + 2vmin);
  color: white;
}



@media  (max-width: 600px) {
  .App-header {
    width: 80%;
    padding: 5% 2%;

  }
  .header {
    height: 10%;
    margin-bottom: 15%;
  }
}