.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #f4f4f4;

}



.App-header {
  /* background-color: #282c34; */
  height: 80%;
  width: 60%;
  font-size: calc(10px + 2vmin);
  color: white;
}



@media  (max-width: 600px) {
  .App-header {
    width: 90%;
    height: 95%;
    

  }
}